<style type="text/css">
    @media only screen and (max-width: 631px) {
        div.m-page-wraper {
            width: 343px !important;
            max-width: 343px !important;
        }

        td.m-content-wrapper {
            padding: 32px 16px !important;
        }

        div.m-content {
            padding: 24px 16px !important;
            line-height: 17px !important;
        }

        td.m-pb-20 {
            padding-bottom: 20px !important;
        }

        td.m-pb-24 {
            padding-bottom: 24px !important;
        }

        a.m-button {
            max-width: 239px !important;
        }

        td.m-footer-text {
            line-height: 14px !important;
            padding: 24px 44px !important;
        }
    }

    @media only screen and (max-width: 351px) {
        div.m-page-wraper {
            width: 288px !important;
            max-width: 288px !important;
        }

        td.m-content-wrapper {
            padding: 32px 16px !important;
        }

        div.m-content {
            padding: 24px 16px !important;
            line-height: 17px !important;
        }

        td.m-pb-20 {
            padding-bottom: 20px !important;
        }

        td.m-pb-24 {
            padding-bottom: 24px !important;
        }

        a.m-button {
            max-width: 184 !important;
        }

        td.m-footer-text {
            line-height: 14px !important;
            padding: 24px 16px !important;
        }
    }
</style>
